extends baseEmail

block content
  p Hi #{username},
  p Welcome to Natours, we're glad to see you 🎉
  p Now you can start download or upload your own blueprints!

  p You can use the following button to log in:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${forgotPasswordUrl}`, target='_blank') Log in