doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
  body
    main
      section
        content
          p Hi #{username},
          p Welcome to FicsitDB
          p To verify your email, you can use the following link:
          a(href=verifyEmailUrl) Verify Email
        footer
          hr
          a(href='https://www.ficsitdb.app') Ficsit DB
  