@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Industrial Branding;
    font-weight: 400;
    src: url(../public/fonts/INDUSTRIAL-BRANDING.ttf) format('truetype');
  }
}